Source: salt-formula-sentry
Maintainer: Ales Komarek <ales.komarek@newt.cz>
Section: admin
Priority: optional
Build-Depends: salt-master, python, python-yaml, debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://github.com/salt-formulas/salt-formulas
Vcs-Browser: https://github.com/salt-formulas/salt-formula-sentry
Vcs-Git: https://github.com/salt-formulas/salt-formula-sentry.git

Package: salt-formula-sentry
Architecture: all
Depends: ${misc:Depends}, salt-master, reclass
Description: Sentry salt formula
 Configure Sentry service.
