Source: salt-formula-sentry
Maintainer: Salt Formulas Community <salt-formulas@freelists.org>
Section: admin
Priority: optional
Build-Depends: debhelper (>= 9),
               python,
               python-yaml,
               salt-formula-linux,
               salt-master
Standards-Version: 3.9.6
Homepage: https://github.com/salt-formulas/salt-formulas
Vcs-Browser: https://github.com/salt-formulas/salt-formula-sentry
Vcs-Git: https://github.com/salt-formulas/salt-formula-sentry.git

Package: salt-formula-sentry
Architecture: all
Depends: reclass, salt-master, ${misc:Depends}
Description: Sentry salt formula
 Configure Sentry service.
